In [91]:
import pandas as pd
from urllib.request import urlretrieve
import os

italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'


urlretrieve(italy_covid_url,'italy_covid-daywise.csv')

os.listdir('.')

covid_df=pd.read_csv('italy_covid-daywise.csv')
type(covid_df)
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [92]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [93]:
covid_df1=covid_df['new_cases']
covid_df1

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [97]:
covid_df1.sum()
covid_df.loc[243] # getting row
covid_df.head(2)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN

In [98]:
covid_df.at[0,'new_tests']

np.float64(nan)

In [102]:
print(covid_df.new_tests.first_valid_index())
print(covid_df.loc[11:15])
print(covid_df.loc[:10])

111
          date  new_cases  new_deaths  new_tests
11  2020-01-11        0.0         0.0        NaN
12  2020-01-12        0.0         0.0        NaN
13  2020-01-13        0.0         0.0        NaN
14  2020-01-14        0.0         0.0        NaN
15  2020-01-15        0.0         0.0        NaN
          date  new_cases  new_deaths  new_tests
0   2019-12-31        0.0         0.0        NaN
1   2020-01-01        0.0         0.0        NaN
2   2020-01-02        0.0         0.0        NaN
3   2020-01-03        0.0         0.0        NaN
4   2020-01-04        0.0         0.0        NaN
5   2020-01-05        0.0         0.0        NaN
6   2020-01-06        0.0         0.0        NaN
7   2020-01-07        0.0         0.0        NaN
8   2020-01-08        0.0         0.0        NaN
9   2020-01-09        0.0         0.0        NaN
10  2020-01-10        0.0         0.0        NaN